@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
}

p {
  margin: 0;
}

.link {
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* @media screen and (min-width: 480px) {
  .container {
    width: 448px;
  }
} */
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.modal-checkbox__accept,
.modal-checkbox,
.modal__form,
.subscribe__btn,
.clients__link,
.media__link,
.photo__text,
.cards-list__icon,
.contacts__mail,
.contacts__tel,
.contacts,
.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway';
  color: #2196f3;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.button {
  border: none;
  font-family: inherit;
  border-radius: 4px;
  cursor: pointer;
  padding: 0;
  background-color: #2196f3;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
}

.main-nav__list {
  display: flex;
  position: relative;
  margin-left: 93px;
  gap: 50px;
}

.header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo--black {
  color: #000000;
}

/* Header nav */
.main-nav__list .current {
  color: #2196f3;
}

.main-nav__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.main-nav__list .main-nav__link:hover,
.main-nav__list .main-nav__link:focus,
.contacts a:focus,
.contacts a:hover {
  color: #2196f3;
}

.main-nav__link.current::after {
  position: absolute;
  bottom: -1px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

/* Header adress */
.contacts__mail,
.contacts__tel {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.header__contacts {
  margin-left: auto;
  gap: 30px;
}

.icon-mail,
.icon-tel {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  background-color: #2f303a;
  text-align: center;
}
.hero__title {
  margin: 0;
  margin: auto;
  margin-bottom: 30px;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero__button {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}
.hero__button:focus,
.hero__button:hover {
  background-color: #188ce8;
}

.hero--fon {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.benefits__section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.cards-list__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .cards-list__item {
    width: calc((100% - 30px) / 4);
  }
}
.cards-list__title {
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.cards-list__icon {
  justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.cards-list__title,
.team-info__name {
  margin-top: 0;
  margin-bottom: 10px;
}

.cards-list__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.gallery__section {
  padding-bottom: 94px;
}
@media (max-width: 768px) {
  .gallery__section {
    display: none;
  }
}

.gallery__title {
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}

.photo__item {
  position: relative;
}

.photo__text {
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.photo__list {
  display: flex;
  -moz-column-gap: 30px;
  column-gap: 30px;
}

.media {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.media__link {
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms,
    fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.media__link:hover,
.media__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}
.media__item:not(:last-child) {
  margin-right: 10px;
}

.team__section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team__title {
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}

.squad__list {
  display: flex;
  -moz-column-gap: 30px;
  column-gap: 30px;
}

.squad__item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 270px;
  background-color: #ffffff;
}

.squad-info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.squad__name {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}

.squad__text {
  margin-bottom: 16px;
  margin-top: 0;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}

.squad__link--fill {
  fill: #afb1b8;
}

.clients__section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.clients__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__link {
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: border cubic-bezier(0.4, 0, 0.2, 1) 250ms, fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.clients__link:hover,
.clients__link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.footer {
  min-height: 252px;
  background-color: #2f303a;
  text-decoration: none;
  list-style: none;
}
.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.logo--white {
  padding: 0;
  color: #ffffff;
}

.footer-adress {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
}
.footer-adress_location {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}
.footer-adress_list {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-adress_tel,
.footer-adress_mail {
  text-decoration: none;
  list-style: none;
  color: rgba(255, 255, 255, 0.6);
}
.footer-adress_item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-adress_list .focus-hover:focus,
.footer-adress_list .focus-hover:hover {
  color: #2196f3;
}

.focus-hover {
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

/* Footer social */
.footer-soc {
  margin-left: 92px;
}
.footer-soc__title {
  display: flex;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.media__link--color {
  background-color: #44454e;
  fill: #ffffff;
}

.footer-soc__item .footer-soc__link:hover,
.footer-soc__item .footer-soc__link:focus {
  background-color: #2196f3;
}

/*----- Subscribe Footer -----*/
.subscribe-form {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
}

/* .subscribe {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
} */
.subscribe__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe__input {
  width: 360px;
  height: 50px;
  resize: none;
  outline: 0;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 16px;
  margin-right: 12px;
  color: rgba(255, 255, 255, 0.6);
  transition: border cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.subscribe__input:focus {
  border: 2px solid #2196f3;
}
.subscribe__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  background-color: transparent;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  background-color: transparent;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  background-color: transparent;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__btn {
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  height: 50px;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.subscribe__btn:focus,
.subscribe__btn:hover {
  background-color: #188ce8;
}

.subscribe__icon {
  margin-left: 10px;
}

.slide-box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; /* ховає slide за рамками */
}
.slide-box__text {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%); /* ховає slide в низ по Y на 100% свого розміру */
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.projects-list__link:hover .slide-box__text,
.projects-list__link:focus .slide-box__text {
  transform: translatex(0); /*виїжджає slide з низу в свою позицію батька */
}

.portfolio__section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn-bar__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-style: normal;
  gap: 8px;
}
@media screen and (min-width: 480px) {
  .btn-bar__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.btn-bar__button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  transition: box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms,
    background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms, color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.btn-bar__button:hover,
.btn-bar__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
}
@media screen and (min-width: 480px) {
  .projects-list {
    display: flex;
    flex-wrap: wrap;
  }
}
.projects-list__item {
  /* position: relative; */
  background-color: #ffffff;
  padding: 0;
  width: 370px;
}
.projects-list__link {
  display: block;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  text-decoration: none;
  font-style: normal;
  transition: box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.projects-list__link:hover,
.projects-list__link:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.projects-list__info {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.projects-list__title {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.projects-list__text {
  padding: 0;
  margin: 0;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5); /*--модалка по центру і пропадає в центр--*/
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1); /*--модалка по центру і зявляється в центрі--*/
  min-height: 580px;
  min-width: 530px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn--close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 0;
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.modal__btn--close:focus,
.modal__btn--close:hover {
  fill: #188ce8;
}

.modal__icon--close {
  display: block;
  margin: auto;
}

.modal__title {
  display: block;
  margin: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal__form {
  flex-direction: column;
  flex-wrap: nowrap;
}

.modal__label {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__span {
  position: relative;
  display: block;
  margin-top: 4px;
}

/* .modal__input:focus + .modal__icon {
  fill: $item-blue-color;
} */
.modal__icon {
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: rgb(33, 33, 33);
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.modal__span:focus-within > .modal__icon {
  fill: #188ce8;
}

.modal__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  width: 100%;
  padding-left: 42px;
  cursor: pointer;
  transition: border cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.modal__input:focus,
.modal__input:hover {
  outline: 0;
  border-color: #2196f3;
}

.modal__comment {
  display: block;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.modal__comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment:focus,
.modal__comment:hover {
  outline: 0;
  border-color: #2196f3;
  cursor: pointer;
}

.modal-checkbox {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
.modal-checkbox__policy {
  /* appearance: none; */
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}
.modal-checkbox__accept {
  justify-content: center;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms,
    border-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.modal-checkbox__accept--icon {
  fill: transparent;
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.modal-checkbox__link {
  position: relative;
  color: #2196f3;
  margin-left: 5px;
  list-style: none;
  font-style: normal;
}

.modal-checkbox__policy:checked + .modal-checkbox__accept {
  background-color: #2196f3;
  border-color: #2196f3;
}

.modal-checkbox__policy:checked + .modal-checkbox__accept .modal-checkbox__accept--icon {
  fill: #ffffff;
}

.modal__policy:focus + .modal__accept {
  border-color: #2196f3;
}

.btn_submit {
  display: block;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.btn_submit:focus,
.btn_submit:hover {
  background-color: #188ce8;
} /*# sourceMappingURL=main.css.map */
