// Animation slide box
.slide-box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; /* ховає slide за рамками */
  &__text {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 63px 24px;
    width: 100%;
    height: 100%;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: $main-title-color;

    background: rgba(33, 150, 243, 0.9);

    transform: translateY(100%); /* ховає slide в низ по Y на 100% свого розміру */
    transition: transform $timing-function $trans-duration;
  }
}

.projects-list__link:hover .slide-box__text,
.projects-list__link:focus .slide-box__text {
  transform: translatex(0); /*виїжджає slide з низу в свою позицію батька */
}
