$main-title-color: #ffffff;
$title-text-color: #212121;
$second-text-color: #757575;
$item-blue-color: #2196f3;
$focus-color: #188ce8;
$primary-text-color: #000000;
$section-bg-color: #f5f4fa;
$icon-fill-color: #afb1b8;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$trans-duration: 2150ms;
