// .benefits__section {
//   // padding-top: 94px;
//   // padding-bottom: 94px;
//   padding-top: 60px;
//   padding-bottom: 60px;
//   @include desktop {
//     padding-top: 94px;
//     padding-bottom: 94px;
//   }
// }

.cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  &__item {
    // max-width: 270px;
    width: 100%;

    @include tablet {
      width: calc((100% - 30px) / 2);
    }
    @include desktop {
      width: calc((100% - 90px) / 4);
    }
  }
  &__title {
    padding: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-text-color;
  }
  &__icon {
    @extend %align-list;
    justify-content: center;
    margin-bottom: 30px;
    height: 120px;
    background-color: $section-bg-color;
    border-radius: 4px;
  }
}

.cards-list__title,
.team-info__name {
  margin-top: 0;
  margin-bottom: 10px;
}
.cards-list__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $second-text-color;
}
