.header {
  border-bottom: 1px solid #ececec;
  &__container {
    @include tablet {
      display: flex;
    }
  }
}

.main-nav {
  @extend %align-list;
  &__list {
    @include tablet {
      display: flex;
      position: relative;
      margin-left: 88px;
      gap: 50px;
    }
    @include desktop {
      display: flex;
      position: relative;
      margin-left: 93px;
    }

    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  &__link {
    position: relative;
    @include tablet {
      padding-top: 23px;
      padding-bottom: 23px;
    }

    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: $title-text-color;
    transition: color $timing-function $trans-duration;
  }
}

.header__logo {
  padding: 16px 0px 16px;
  // padding-top: 24px;
  // padding-bottom: 25px;
}
.logo--black {
  color: $primary-text-color;
}
.icon-menu {
  @include tablet {
    display: none;
  }
  position: relative;
  margin-left: auto;
}
/* Header nav */

.main-nav__list .current {
  color: $item-blue-color;
}

.main-nav__list .main-nav__link:hover,
.main-nav__list .main-nav__link:focus,
.contacts a:focus,
.contacts a:hover {
  color: $item-blue-color;
}

.main-nav__link.current::after {
  position: absolute;
  bottom: -1px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: $item-blue-color;
  border-radius: 2px;
}

/* Header adress */

.contacts {
  @extend %align-list;
  &__mail,
  &__tel {
    @extend %align-list;
    // padding-top: 32px;
    // padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $second-text-color;

    transition: color $timing-function $trans-duration;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header__contacts {
  @include tablet {
    display: flex;
    margin-left: auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  @include desktop {
    display: flex;

    flex-direction: row;
    align-items: center;
    margin-left: auto;
    gap: 30px;
  }
}
.icon-mail,
.icon-tel {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: currentColor;
  margin-right: 10px;
}
