.team__section {
  background-color: $section-bg-color;
}

.team__title {
  text-align: center;
  margin: 0;
  margin-bottom: 30px;

  @include tablet {
    margin-bottom: 30px;
  }
}
.squad__list {
  gap: 30px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.squad__item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  // width: 270px;
  background-color: $main-title-color;

  width: 100%;

  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 90px) / 4);
  }
}

.squad-info {
  padding-top: 30px;
  padding-bottom: 30px;
}
.squad__name {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $title-text-color;
}
.squad__text {
  margin-bottom: 16px;
  margin-top: 0;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $second-text-color;
}

.squad__link--fill {
  fill: $icon-fill-color;
}
